In [1]:
import os
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

In [9]:
df = pd.read_csv(os.path.join('../../../../', 'downloads', 'appeal_w_gaias.csv'))

In [16]:
df_1 = pd.read_csv(os.path.join('..', 'datasets', 'dataset-03-bistro.csv'))

In [17]:
type(df_1)

pandas.core.frame.DataFrame

In [18]:
df_1.shape[0]

244

In [12]:
len(df)

3182

In [13]:
df.shape[1]

18

In [14]:
len(df.columns)

18

In [15]:
for column in df.columns:
    print column

Unnamed: 0
gaia
study_id
survey_url
rating
comment
watch_history_notes
watch_history_link
rec_makes_sense?
my_category
Unnamed: 10
Unnamed: 11
Unnamed: 12
Unnamed: 13
Unnamed: 14
Unnamed: 15
Unnamed: 16
Unnamed: 17

In [22]:
df[:2]

,Unnamed: 0,gaia,study_id,survey_url,rating,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,NaN,289121239725,4.523560e+15,http://402.appspot.com/create/preview?survey=i...,4,...,NaN,NaN,NaN,NaN,NaN
1,NaN,519169883643,4.531430e+15,http://402.appspot.com/create/preview?survey=7...,4,...,NaN,NaN,NaN,NaN,NaN

In [24]:
df_1.iloc[:2]

      day    time      name  gender  is_smoker  party  check   tip
0  Sunday  Dinner  Kimberly  Female      False      2  16.99  1.01
1  Sunday  Dinner  Nicholas    Male      False      3  10.34  1.66

In [27]:
df_1.head()

      day    time      name  gender  is_smoker  party  check   tip
0  Sunday  Dinner  Kimberly  Female      False      2  16.99  1.01
1  Sunday  Dinner  Nicholas    Male      False      3  10.34  1.66
2  Sunday  Dinner     Larry    Male      False      3  21.01  3.50
3  Sunday  Dinner    Joseph    Male      False      2  23.68  3.31
4  Sunday  Dinner    Janice  Female      False      4  24.59  3.61

In [28]:
df[:5]

,Unnamed: 0,gaia,study_id,survey_url,rating,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,NaN,289121239725,4.523560e+15,http://402.appspot.com/create/preview?survey=i...,4,...,NaN,NaN,NaN,NaN,NaN
1,NaN,519169883643,4.531430e+15,http://402.appspot.com/create/preview?survey=7...,4,...,NaN,NaN,NaN,NaN,NaN
2,NaN,31940337633,4.534680e+15,http://402.appspot.com/create/preview?survey=2...,4,...,NaN,NaN,NaN,NaN,NaN
3,NaN,276092405255,4.542300e+15,http://402.appspot.com/create/preview?survey=n...,4,...,NaN,NaN,NaN,NaN,NaN
4,NaN,980597602122,4.555870e+15,http://402.appspot.com/create/preview?survey=h...,4,...,NaN,NaN,NaN,NaN,NaN

In [29]:
df[-2:]

,Unnamed: 0,gaia,study_id,survey_url,rating,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
3180,NaN,152629497766,6.690899e+15,http://402.appspot.com/create/preview?survey=n...,0,...,NaN,NaN,NaN,NaN,NaN
3181,NaN,1085784205456,6.697804e+15,http://402.appspot.com/create/preview?survey=u...,0,...,NaN,NaN,NaN,NaN,NaN

In [30]:
df.tail()

,Unnamed: 0,gaia,study_id,survey_url,rating,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
3177,NaN,963562686378,6.614203e+15,http://402.appspot.com/create/preview?survey=t...,0,...,NaN,NaN,NaN,NaN,NaN
3178,NaN,550692038698,6.661089e+15,http://402.appspot.com/create/preview?survey=k...,0,...,NaN,NaN,NaN,NaN,NaN
3179,NaN,1006531943517,6.669909e+15,http://402.appspot.com/create/preview?survey=q...,0,...,NaN,NaN,NaN,NaN,NaN
3180,NaN,152629497766,6.690899e+15,http://402.appspot.com/create/preview?survey=n...,0,...,NaN,NaN,NaN,NaN,NaN
3181,NaN,1085784205456,6.697804e+15,http://402.appspot.com/create/preview?survey=u...,0,...,NaN,NaN,NaN,NaN,NaN

In [31]:
df.isnull().sum().sum()

38207L

In [33]:
df_1.isnull().sum().sum()

0L

In [34]:
df.gaia.unique()

array([ 289121239725,  519169883643,   31940337633, ..., 1006531943517,
        152629497766, 1085784205456])

In [36]:
df.gaia.unique().sum().s

1735764271977272

In [38]:
df.isnull().sum()

Unnamed: 0     3182
gaia              0
study_id          0
survey_url        0
rating            0
               ...
Unnamed: 13    3182
Unnamed: 14    3172
Unnamed: 15    3182
Unnamed: 16    3173
Unnamed: 17    3173
Length: 18, dtype: int64

In [52]:
df.columns[0]

'Unnamed: 0'

In [53]:
df.'Unnamed: 0'.unique()

SyntaxError: invalid syntax (<ipython-input-53-cd1a98ae0c2a>, line 1)

In [54]:
df_1.drop('is_smoker', axis = 1, inplace = True)

In [55]:
df_1.columns

Index([u'day', u'time', u'name', u'gender', u'party', u'check', u'tip'], dtype='object')

In [57]:
df.drop(df.columns[0], axis = 1, inplace = True)

In [66]:
df.columns[9:]

Index([u'Unnamed: 10', u'Unnamed: 11', u'Unnamed: 12', u'Unnamed: 13',
       u'Unnamed: 14', u'Unnamed: 15', u'Unnamed: 16', u'Unnamed: 17'],
      dtype='object')

In [67]:
df.drop(df.columns[9:], axis = 1, inplace = True)

In [68]:
df.columns

Index([u'gaia', u'study_id', u'survey_url', u'rating', u'comment',
       u'watch_history_notes', u'watch_history_link', u'rec_makes_sense?',
       u'my_category'],
      dtype='object')

In [70]:
for column in df:
    print column

gaia
study_id
survey_url
rating
comment
watch_history_notes
watch_history_link
rec_makes_sense?
my_category

In [77]:
len(df.gaia.unique())

3107

In [84]:
df.gaia.value_counts()

708161407342    3
830133303655    3
208889353651    3
731424450116    3
164099158196    3
               ..
781986323198    1
943098665678    1
719683400433    1
800305110201    1
369403496491    1
Name: gaia, Length: 3107, dtype: int64

In [85]:
df_1.columns

Index([u'day', u'time', u'name', u'gender', u'party', u'check', u'tip'], dtype='object')

In [87]:
df.groupby('gaia').my_category.count()

gaia
120928880        0
504608455        0
553306985        0
1534111802       0
1910014061       0
                ..
1096480577948    0
1097553560764    0
1097670717522    0
1098057035425    0
1098802969019    0
Name: my_category, Length: 3107, dtype: int64

In [93]:
df_1.groupby('day').tip.sum()

day
Friday       51.96
Saturday    260.40
Sunday      247.39
Thursday    171.83
Name: tip, dtype: float64

In [94]:
df_1.groupby('day').tip.sum() / df_1.groupby('day').tip.count()

day
Friday      2.734737
Saturday    2.993103
Sunday      3.255132
Thursday    2.771452
Name: tip, dtype: float64

In [108]:
df_1[df_1.gender == 'Male'].name.unique()

array(['Nicholas', 'Larry', 'Joseph', 'Mark', 'Jamie', 'Steven', 'Wilburn',
       'Ian', 'Rick', 'Karl', 'Timothy', 'Brandon', 'Roman', 'Sean',
       'William', 'Richard', 'Carl', 'Mario', 'Charles', 'Tyler',
       'Jonathan', 'Dustin', 'Reyes', 'Alejandro', 'Levi', 'Leonard',
       'Casey', 'Gregory', 'James', 'Arturo', 'Maurice', 'Melvin', 'David',
       'Chandler', 'Frank', 'Harold', 'Keith', 'Brian', 'Christopher',
       'Marvin', 'Jerry', 'Diego', 'Bryson', 'Matt', 'Daniel', 'Harry',
       'Ronald', 'Andrew', 'Edwin', 'Erick', 'Kaleb', 'Brent', 'Kenneth',
       'Todd', 'Maverick', 'Curtis', 'Kevin', 'Alex', 'Roger', 'Adalberto',
       'Kody', 'Kelly', 'Javier', 'Michal', 'Erin', 'Stanley', 'Norman',
       'Walter', 'Enrique', 'Lewis', 'Martin', 'Neil', 'Zackary',
       'Christian', 'Cisco', 'Leslie', 'Carter', 'Robert', 'Benjamin',
       'Jeffery', 'Scott', 'Sam', 'Aiden', 'Antonio', 'Ricky', 'Gerald',
       'Amos', 'Claude', 'Logan', 'Dennis', 'Torrey', 'Leonardo',
       'Francis', 'Jacob', 'Dale', 'Paul', 'John', 'Alexander', 'Willie',
       'Matthew', 'Fred', 'Luis', 'Eduardo', 'Vernon', 'Donald', 'Jon',
       'Alfred', 'Darwin', 'Henry', 'Jeremy'], dtype=object)

In [98]:
np.intersect1d(df_1[df_1.gender == 'Male'].name, df_1[df_1.gender == 'Female'].name)

array(['Casey'], dtype=object)

In [121]:
len(df_1[df_1.gender == "Male"].name.unique()) +\
len(df_1[df_1.gender == "Female"].name.unique())

182

In [122]:
len(df_1.name.unique())

181

In [123]:
len(df_1.groupby(['name', 'gender']))

182

In [125]:
(df_1.name == "Kevin").sum()

4

In [129]:
df.my_category.value_counts()

very subjective              10
parent                        7
wtf                           6
hate watch                    3
min signal                    3
                             ..
safe creator                  1
searched for it               1
safe topic, novel creator     1
already watched it; music     1
many watches; music           1
Name: my_category, Length: 15, dtype: int64

In [148]:
df_1[df_1.gender == 'Female'].name.value_counts()

Mary         4
Casey        3
Laura        3
Theresa      2
Alice        2
            ..
Paisley      1
Marian       1
Shaquasia    1
Wanda        1
Sarah        1
Name: name, Length: 72, dtype: int64

In [161]:
(df_1.groupby(['name', 'gender']).tip.sum() / df_1.groupby(['name', 'gender']).check.sum()).sort_values(ascending = False)

name      gender
Maryann   Female    0.416667
Bailey    Female    0.325733
Daniel    Male      0.313607
Dennis    Male      0.280535
Zackary   Male      0.266312
                      ...
Willie    Male      0.066534
Kimberly  Female    0.059447
Destiny   Female    0.056797
Mildred   Female    0.056433
Jeremy    Male      0.035638
Length: 182, dtype: float64

In [168]:
df_1.name.value_counts()

Casey       8
David       8
James       5
Mary        4
Carl        4
           ..
Walter      1
Chandler    1
Reyes       1
Matthew     1
Sarah       1
Name: name, Length: 181, dtype: int64

In [169]:
df.dtypes

gaia                     int64
study_id               float64
survey_url              object
rating                   int64
comment                 object
watch_history_notes     object
watch_history_link      object
rec_makes_sense?        object
my_category             object
dtype: object

In [171]:
df.notnull().sum().sum()

19041L

In [172]:
df.index

RangeIndex(start=0, stop=3182, step=1)

In [173]:
df_1.index

RangeIndex(start=0, stop=244, step=1)

In [174]:
df.columns

Index([u'gaia', u'study_id', u'survey_url', u'rating', u'comment',
       u'watch_history_notes', u'watch_history_link', u'rec_makes_sense?',
       u'my_category'],
      dtype='object')

In [175]:
df[['gaia', 'survey_url']]

               gaia                                         survey_url
0      289121239725  http://402.appspot.com/create/preview?survey=i...
1      519169883643  http://402.appspot.com/create/preview?survey=7...
2       31940337633  http://402.appspot.com/create/preview?survey=2...
3      276092405255  http://402.appspot.com/create/preview?survey=n...
4      980597602122  http://402.appspot.com/create/preview?survey=h...
...             ...                                                ...
3177   963562686378  http://402.appspot.com/create/preview?survey=t...
3178   550692038698  http://402.appspot.com/create/preview?survey=k...
3179  1006531943517  http://402.appspot.com/create/preview?survey=q...
3180   152629497766  http://402.appspot.com/create/preview?survey=n...
3181  1085784205456  http://402.appspot.com/create/preview?survey=u...

[3182 rows x 2 columns]

In [176]:
df['gaia']

0        289121239725
1        519169883643
2         31940337633
3        276092405255
4        980597602122
            ...
3177     963562686378
3178     550692038698
3179    1006531943517
3180     152629497766
3181    1085784205456
Name: gaia, Length: 3182, dtype: int64

In [182]:
df.loc[0]

gaia                                                        289121239725
study_id                                                     4.52356e+15
survey_url             http://402.appspot.com/create/preview?survey=i...
rating                                                                 4
comment                 Exelente                                     ...
watch_history_notes    user likes Latin music, the two artists who co...
watch_history_link     https://p13ndemo.corp.google.com/video_watches...
rec_makes_sense?                                                       y
my_category                                                        music
Name: 0, dtype: object

In [183]:
df.iloc[[1,3]]

,gaia,study_id,survey_url,rating,comment,watch_history_notes,watch_history_link,rec_makes_sense?,my_category
1,519169883643,4.531430e+15,http://402.appspot.com/create/preview?survey=7...,4,"I have always been and always will be, enrapt...",user watches a bunch of Chris Cornell; likes t...,https://p13ndemo.corp.google.com/video_watches...,y,music
3,276092405255,4.542300e+15,http://402.appspot.com/create/preview?survey=n...,4,Good video's fun and information ...,"user watches a lot of Jake Pudding, we rec Jak...",https://p13ndemo.corp.google.com/video_watches...,y,safe

In [185]:
df.loc[0]

gaia                                                        289121239725
study_id                                                     4.52356e+15
survey_url             http://402.appspot.com/create/preview?survey=i...
rating                                                                 4
comment                 Exelente                                     ...
watch_history_notes    user likes Latin music, the two artists who co...
watch_history_link     https://p13ndemo.corp.google.com/video_watches...
rec_makes_sense?                                                       y
my_category                                                        music
Name: 0, dtype: object

In [191]:
df.loc[[1, 3]]

,gaia,study_id,survey_url,rating,comment,watch_history_notes,watch_history_link,rec_makes_sense?,my_category
1,519169883643,4.531430e+15,http://402.appspot.com/create/preview?survey=7...,4,"I have always been and always will be, enrapt...",user watches a bunch of Chris Cornell; likes t...,https://p13ndemo.corp.google.com/video_watches...,y,music
3,276092405255,4.542300e+15,http://402.appspot.com/create/preview?survey=n...,4,Good video's fun and information ...,"user watches a lot of Jake Pudding, we rec Jak...",https://p13ndemo.corp.google.com/video_watches...,y,safe

In [195]:
df.my_category == "music"

0        True
1        True
2       False
3       False
4       False
        ...
3177    False
3178    False
3179    False
3180    False
3181    False
Name: my_category, Length: 3182, dtype: bool

In [210]:
df[df.my_category == "music"][df.rating == 4]

/Users/mlombardo/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,gaia,study_id,survey_url,rating,comment,watch_history_notes,watch_history_link,rec_makes_sense?,my_category
0,289121239725,4.523560e+15,http://402.appspot.com/create/preview?survey=i...,4,Exelente ...,"user likes Latin music, the two artists who co...",https://p13ndemo.corp.google.com/video_watches...,y,music
1,519169883643,4.531430e+15,http://402.appspot.com/create/preview?survey=7...,4,"I have always been and always will be, enrapt...",user watches a bunch of Chris Cornell; likes t...,https://p13ndemo.corp.google.com/video_watches...,y,music

In [211]:
df_2 = df.merge(df_1,  left_index = True, right_index = True)

In [215]:
df_2

,gaia,study_id,survey_url,rating,comment,...,name,gender,party,check,tip
0,289121239725,4.523560e+15,http://402.appspot.com/create/preview?survey=i...,4,Exelente ...,...,Kimberly,Female,2,16.99,1.01
1,519169883643,4.531430e+15,http://402.appspot.com/create/preview?survey=7...,4,"I have always been and always will be, enrapt...",...,Nicholas,Male,3,10.34,1.66
2,31940337633,4.534680e+15,http://402.appspot.com/create/preview?survey=2...,4,I like trump ...,...,Larry,Male,3,21.01,3.50
3,276092405255,4.542300e+15,http://402.appspot.com/create/preview?survey=n...,4,Good video's fun and information ...,...,Joseph,Male,2,23.68,3.31
4,980597602122,4.555870e+15,http://402.appspot.com/create/preview?survey=h...,4,Awesome ...,...,Janice,Female,4,24.59,3.61
...,...,...,...,...,...,...,...,...,...,...,...
239,653847463608,6.172720e+15,http://402.appspot.com/create/preview?survey=v...,4,Really entertaining ...,...,Kevin,Male,3,29.03,5.92
240,456469808284,6.174960e+15,http://402.appspot.com/create/preview?survey=u...,4,I've watched videos from that channel before ...,...,Sandra,Female,2,27.18,2.00
241,911562808434,6.180700e+15,http://402.appspot.com/create/preview?survey=7...,4,A Euphoric emotional journey ...,...,Carl,Male,2,22.67,2.00
242,752217252432,6.196990e+15,http://402.appspot.com/create/preview?survey=f...,4,I have recently purchased this game and am th...,...,Jon,Male,2,17.82,1.75
243,961399146811,6.204110e+15,http://402.appspot.com/create/preview?survey=t...,4,Like the game and special effects ...,...,Brandi,Female,2,18.78,3.00

In [216]:
df_1.columns

Index([u'day', u'time', u'name', u'gender', u'party', u'check', u'tip'], dtype='object')

In [219]:
df.isnull() *= 1

SyntaxError: can't assign to function call (<ipython-input-219-d550e8b54a17>, line 1)